bin/
build/
.project
.classpath
.settings/*
.gradle
.idea
*.class
.DS_Store
hs_err_pid*
old
src/clearvolume/demo/databig/


ClearVolume.exe.jar
log.txt
RTlib-ao/.settings/org.eclipse.jdt.core.prefs
RTlib-cameras/.settings/org.eclipse.jdt.core.prefs
RTlib-compression/.settings/org.eclipse.jdt.core.prefs
RTlib-core/.settings/org.eclipse.jdt.core.prefs
RTlib-filterwheels/.settings/org.eclipse.jdt.core.prefs
RTlib-gui/.settings/org.eclipse.jdt.core.prefs
RTlib-ip/.settings/org.eclipse.jdt.core.prefs
RTlib-kam/.settings/org.eclipse.jdt.core.prefs
RTlib-lasers/.settings/org.eclipse.jdt.core.prefs
RTlib-lightsheet/.settings/org.eclipse.jdt.core.prefs
RTlib-ocl/.settings/org.eclipse.jdt.core.prefs
RTlib-sensors/.settings/org.eclipse.jdt.core.prefs
RTlib-serial/.settings/org.eclipse.jdt.core.prefs
RTlib-stack/.settings/org.eclipse.jdt.core.prefs
RTlib-stages/.settings/org.eclipse.jdt.core.prefs
RTlib-symphony/.settings/org.eclipse.jdt.core.prefs
