bin/
build/
.project
.classpath
.settings/*
.gradle
.idea
*.class
.DS_Store
hs_err_pid*
old
src/clearvolume/demo/databig/
src/cpp/jars/*.jar
ClearVolume.exe.jar
log.txt
clearvolume.iml
gradle.properties
