<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ClearVolume</string>
	<key>CFBundleGetInfoString</key>
	<string>ClearVolume Team</string>
	<key>CFBundleIconFile</key>
	<string>ClearVolume.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.inkscape.Inkscape</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>CV</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2014 ClearVolume Team</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.9</string>
</dict>
</plist>
